.cards {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}

.cardset__list {
  display: flex;
  flex-wrap: wrap;
}

.cardset__item {
  background: var(--color-btn);
  border: 1px solid #eeeeee;
  width: 370px;
  transition-duration: 250ms;
  transition-property: var(--timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  &:not(:nth-child(n + 7)) {
    margin-bottom: 30px;
  }
}

.cardset__container {
  position: relative;
  overflow: hidden;
}

.cardset__text {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-btn);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  .cardset__item:hover & {
    transform: translateY(0%);
  }
}

.cardset__box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.cardset__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.cardset__after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
