.header__container {
  align-items: center;
  @media screen and (max-width: 480px) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    // align-items: baseline;
  }
}
.site-nav {
  & .link:hover,
  & .link:focus,
  & .link:active {
    color: var(--color-active);
  }
}
.site-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin-right: 50px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.site-list__item {
  margin-right: 50px;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  & .current::after {
    content: '';
    background: #2196f3;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: opasity 250ms var(--timing-function);
  }
}
.site-list .site-list__item:last-child {
  margin-right: 0;
}
.site-list .link.current {
  color: var(--color-active);
}

.site-list__link {
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-property: var(--timing-function);
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.contacts {
  & .contacts__item + .contacts__item {
    margin-left: 50px;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contacts__link {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition-duration: 250ms;
  transition-property: var(--timing-function);
  &:hover,
  &:focus {
    color: var(--color-active);
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
.contacts-tel {
  margin-left: 30px;
  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
    margin-top: 0;
  }
}
