.info {
  padding-top: 94px;
  padding-bottom: 94px;
}

.info__list {
  display: flex;
}

.info__item {
  &:nth-child(1):before {
    background-image: url(../images/antenna.svg);
    background-size: 70px;
  }
  &:nth-child(2):before {
    background-image: url(../images/clock.svg);
    background-size: 70px;
  }
  &:nth-child(3):before {
    background-image: url(../images/diagram.svg);
    background-size: 70px;
  }
  &:nth-child(4):before {
    background-image: url(../images/astronaut.svg);
    background-size: 70px;
  }
  .info__list & + & {
    margin-left: 30px;
  }
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--color-section);
  background-size: contain;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.info__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.info__after-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--second-text-color);
  width: 270px;
}
