.team {
  background: var(--color-section);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.business-card {
  display: flex;
}

.business-card__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  .business-card & + & {
    margin-left: 30px;
  }
}

.business-card__container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.business-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.business-card__after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--second-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
