:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --color-active: #2196f3;
  --footer-color: #2f303a;
  --color-section: #f5f4fa;
  --color-btn: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
